
    <div class="container-lg mb-5 p-3 bg-darkest">
        <div class="row">
            <div class="col text-center p-3 trade-mark rounded-bottom-lg">
                <span class="trade-mark text-white">&copy; 2020 - HYPERMODERN.ORG - <a class="trade-mark" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a></span>
            </div>
        </div>
    </div>

