
    <div class="container-xxl bg-cdark">
        <div class="row">
            <div class="col">
                <div class="row bg-darkest p-3 g-0 rounded-bottom-lg" >
                    <div class="col-lg-3 footer-links">
                        <h4 class="d-block text-cbrightNorm">Our Websites</h4>
                        <a href="https://wdp.hypermodern.org" class="d-block text-cbrightNorm">Word Division Puzzles</a>
                        <a href="https://www.hypermodern.org" class="d-block text-cbrightNorm">Hypermodern.org</a>
                        <a href="https://bible.hypermodern.org" class="d-block text-cbrightNorm">A Search for the Truth</a>
                    </div>
                    <div class="col-lg-3  footer-links">
                        <h4 class="d-block text-cbrightNorm">More Links</h4>
                        <a href="#" class="d-block text-cbrightNorm">A Link</a>
                        <a href="#" class="d-block text-cbrightNorm">Another Link</a>
                        <a href="#" class="d-block text-cbrightNorm">Yet Another Awesome Link</a>

                    </div>
                    <div class="col-lg-6  footer-links">
                        <h4 class="d-block text-cbrightNorm">Resume</h4>
                        <p class="d-block text-cbrightNorm">Lander's Resume is a website showcasing Lander's full stack web development skills to prospective employers. Though it may become an actual resume building site in the future, and though it may be fully functional currently, it exists now only as a prototype. Please feel free to create an account and create resume's, however, be aware that that that this site may either be dropped or moved to another domain in the future without warning.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

