
    <div class="container-xxl p-3 mb-5 bg-cdark rounded-bottom-lg ">
        <div class="row">
            <div class="col text-center  trade-mark bg-cdark">
                <span class="trade-mark text-cbrightNorm">&copy; 2020 - Lander's Resume - <a class="trade-mark text-cbrightNorm" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
            </div>
        </div>
    </div>

