
    @*<div class="container-lg p-3 bg-dark">*@
        <div class="row">
            <div class="col-lg-3 p-3 footer-links">
                <h3 class="d-block text-white">Our Websites</h3>
                <a href="https://wdp.hypermodern.org" class="d-block">Word Division Puzzles</a>
                <a href="https://www.hypermodern.org" class="d-block">Hypermodern.org</a>
                <a href="https://bible.hypermodern.org" class="d-block">A Search for the Truth</a>
            </div>
            <div class="col-lg-3  p-3 footer-links">
                <h3 class="d-block text-white">More Links</h3>
                <a href="#" class="d-block">A Link</a>
                <a href="#" class="d-block">Another Link</a>
                <a href="#" class="d-block">Yet Another Awesome Link</a>
          
            </div>
            <div class="col-lg-6  p-3 footer-links">
                <h3 class="d-block text-white">Resume</h3>
                <p class="d-block text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur efficitur lacus eget nisi accumsan pellentesque. Nunc at velit interdum, viverra nunc in, varius lectus. Donec arcu nunc, auctor vitae justo pharetra, vehicula hendrerit erat. Praesent eu est at lectus venenatis dictum. Praesent pharetra nulla sit amet augue molestie pellentesque. Etiam ut est eget purus molestie finibus varius nec justo. Suspendisse commodo tempus metus et mollis. Quisque et consectetur orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut urna ante, congue vel semper ut, facilisis sit amet est. In tristique libero et egestas fringilla. Pellentesque id ligula sem."</p>
            </div>
        </div>
    @*</div>*@

