
    <div class="container-xxl p-3 mb-5 bg-light rounded-bottom-lg ">
        <div class="row">
            <div class="col text-center  trade-mark">
                <span class="trade-mark text-cdark">&copy; 2021 - Lander's Resume - <a class="trade-mark text-cdark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
            </div>
        </div>
    </div>

