<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lander's Resume</title>
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

@{
    // Border top depending on if view is Search
    var topBorder = "";
    if (ViewBag.IsSearch == true)
    {
        topBorder = "rounded-top-lg";
    }
    else
    {
        topBorder = "border-top-left";
    }
}
<body class="body-bg">
    <div class="container-xxl mt-5">
        <div class="row">
            <div class="col p-0 bg-light @topBorder">
                <div class="row g-0">
                    <div class="col">
                        <nav class="navbar navbar-light navbar-expand-lg pt-3 pb-3">
                            <a class="navbar-brand" href="#">BIBLEAPP</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarColor01">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav.item active">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="ImportBible" asp-controller="Registers" asp-action="Search">Search</a>
                                    </li>
                                </ul>
                                <partial name="_LoginPartial" />
                            </div>
                        </nav>
                    </div>
                </div>

                @if (ViewBag.IsHome == true)
                {
                    <div class="row g-0">
                        <div class="col">
                            <partial name="_CarouselPartial" />
                        </div>
                    </div>
                }

            </div>

            @if (ViewBag.IsHome == true)
            {
                <partial name="_SocialPartial" />
            }


        </div>
    </div>

    @*@if (ViewBag.IsHome == true)
    {
        <div class="container-lg p-0">
            <div class="row">
                <div class="col bg-light pt-5">
                    <h1 class="text-center">Welcome</h1>
                </div>
            </div>
        </div>
    }*@



    <div class="container-lg main-area">

            
                    @RenderBody()
          
    </div>


    <partial name="_Footerlinkspartial" />
    <partial name="_Footerpartial" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>