<div class="col-lg-1" id="social-collapse">
    <span class="text-center"><i class="bi-facebook s-icon"></i></span>
    <span class="text-center"><i class="bi-instagram s-icon"></i></span>
    <span class="text-center"><i class="bi-twitter s-icon"></i></span>
    <span class="text-center"><i class="bi-google s-icon "></i></span>
    <span class="text-center"><i class="bi-youtube s-icon"></i></span>

</div>