
<div class="col-lg-1" id="social-collapse">
    <span class="text-center"><a href="https://github.com/hypermodernorg"><i class="bi bi-github s-icon"></i></a></span>
    <span class="text-center"><i class="bi-instagram s-icon"></i></span>
    <span class="text-center"><i class="bi-twitter s-icon"></i></span>
    <span class="text-center"><i class="bi-google s-icon "></i></span>
    <span class="text-center"><i class="bi-youtube s-icon"></i></span>
</div>


