.bgMain {
    background-color: #5E5D5C;
}
.bgAccent {
    background-color: #E072A4;
}
.bgLight {
    background-color: #CECECE;
}
.bgDark {
    background-color: #0E2E44;
}
.bgMediam {
    background-color: #453643
}
.progress {
    background-color: transparent;
    border-radius: unset;
    height: 25px;
}
.progress-bar {
    background-color: rgb(255, 119, 61);
    color: black;
}


