/* ----------Color change radio buttons----------- */
.container1 {
    display: block;
    position: relative;
    padding-left: 25px;
   /* margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-blue {
    background-color: blue;
}
.checkmark-purple {
    background-color: purple;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: rgba(255, 255, 255, 0.8);
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    /*background-color: #000000;*/
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
    /*    top: 9px;
    left: 9px;*/
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
}




/* ----------Structural----------- */
.rDescription {
    height: 350px !important;
}


.namePartialTwo {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.namePartialTwoB {
}

.userDisplayNameRow {
}

.userDisplayNameCol {
}

