@{
    //ViewData["Title"] = "Home Page";
}



<div class="row ">
    <div class="col">
        <h3 class="text-center mb-5">About Lander</h3>


    </div>
</div>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="/images/lander.png" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">

                <p class="card-text">
                    Lander is currently the security manager at Toyota Racing Development. He has a master’s in sociology with multiple awards and maintained a 4.0 GPA throughout his four-year university and post graduate studies.
                </p>
                <p class="card-text">
                    Lander is also a programmer and has used several programming languages over the past 20 years starting with the college course “programming and logic,” which used BASIC as its instructional coding language. Lander then moved on the web development with Perl. Next he gained exposure to FoxPro, an SQL programming environment at work when he worked at the backend IT dept of a teleservices company named Telespectrum. Next, Lander began programming in PHP, JavaScript, and CSS to create programs for Joomla; a popular CMS system. Finally, as Visual Studio released a community edition, Lander began his current relationship with his programming language of choice: C#. Visual Studio opened up a whole world from ASP.Net Core 5 web applications and WPF desktop applications, to a cross platform puzzle game available on the Android ecosystem. Presently, Lander continues to keep up with the latest .Net Core and C# innovations with plans to eventually branch out into machine learning and Node.js.
                </p>
               
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row g-0">

        <div class="col-md-10">
            <div class="card-body">

                <p class="card-text">
                    Beyond his interest in programming, Lander is also an avid chess player and can frequently be found on both the ICC, and FICS. Lander also has two beautiful tuxedo cats named Nisa and Sara that welcome him home each night after work.
                </p>
                <p class="card-text">
                    In the future Lander plans to acquire a software/web development position to explore his full potential.
                </p>

            </div>
        </div>
        <div class="col-md-2">
            <img src="/images/chess.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>

