@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">*@
    <div class="row">
        <div class="col-lg-6 bg-primary p-5"><h1>Hypermodern's</h1></div>
        <div class="col-lg-6 bg-secondary p-5"><h1>Quickstart</h1></div>

    </div>

@*</div>*@
