@{
    //ViewData["Title"] = "Home Page";
}


<div class="mt-3">
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-sm-3">
                <img src="/images/what.png" alt="What?" class="img-fluid ">
            </div>
            <div class="col-sm-9">
                <div class="card-body">
                    <h3 class="card-title">What is Lander's Resume?</h3>
                    <p class="card-text">Lander’s Resume is a web application that allows users to store their resume details into a database, and then choose an HTML theme to display their resume to employers. Users can have multiple resume’s each displayed with different themes. For instance, users can create a resume for software development, and then tailor another resume to a management position. Currently only one theme is available, but I’ll be adding more as time permits.</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-sm-9">
                <div class="card-body">
                    <h3 class="card-title">Why Lander's Resume?</h3>
                    <p class="card-text">Lander’s Resume started out simply as my (Lander’s) resume. While putting the resume together I realized that not only could I send you this resume, I could build an entire resume application to not only tell you what I claim to be true of my skills, but to show you. Lander’s Resume, therefore turned out to be a web application to showcase my development skills for potential employers. I chose web development because of the many technologies that must come together to make a website. This website, for example, is built with ASP.NET CORE, C#, vanilla JavaScript, CSS, SCSS, HTML, SQL, and many related frameworks such as Bootstrap, Entity Framework Core, JSON, and Identity, among others. My hope is that this website will demonstrate you that I can work with many programming languages and technologies at once to build a product from start to finish.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="/images/why.png" alt="Why?" class="img-fluid">
            </div>

        </div>
    </div>
</div>

<div class="card-group mb-3">
    <div class="card border-0">
        <div class="p-5 bg-cbrightNorm "><img src="/images/bootstrap.svg" class="card-img-top cardHeight" alt="Bootstrap icon."></div>
        <div class="card-body">
            <h5 class="card-title">Bootstrap 5</h5>
            <p class="card-text">Lander's Resume makes extensive use of the latest Bootstrap framework to structure and style every aspect of the website. Bootstrap's use of SCSS is also utilyzed to keep Bootstrap's codebase in it's original form while creating customized CSS on the fly.</p>
        </div>
    </div>
    <div class="card border-0 bg-cbrightNorm">
        <div class="p-5 bg-white"><img src="/images/code-square.svg" class="card-img-top cardHeight" alt="Image attempting to depict a code block."></div>
        <div class="card-body">
            <h5 class="card-title">ASP.NET Core, C# 9, and Javascript</h5>
            <p class="card-text">I used ASP.NET Core 5, C# 9, and SQLITE as the backend and vanilla JavaScript in the front for user interactivity and form field validation.</p>
        </div>

    </div>

    <div class="card border-0">
        <div class="p-5 bg-cbrightNorm"><img src="/images/columns-gap.svg" class="card-img-top cardHeight" alt="Image of blocks in columns to illustrate code structure."></div>
        <div class="card-body">
            <h5 class="card-title">Code Structure</h5>
            <p class="">Two coding structures were used. For Microsoft Identity and User log-in information, I elected to keep the model/controller per page structure that their scaffolding supports natively. The resume aspect of the code is organized in an MVC structure. The reason two coding structures were used was to keep compatibility  with Microsoft Identity scaffoling in future updates.</p>
        </div>
    </div>
</div>