@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 bg-primary p-5"><h1>Hypermodern's</h1></div>
        <div class="col-lg-6 bg-secondary p-5"><h1>Quickstart</h1></div>

    </div>
    <div class="row">
        <div class="col bg-info p-5"><h3>NLog</h3></div>
        <div class="col bg-light p-5"><h3>asp.net core 5</h3></div>
        <div class="col bg-info p-5"><h3>sqlite</h3></div>
    </div>
    <div class="row">
        <div class="col bg-primary p-5"></div>
        <div class="col bg-filter p-5"><h3>Entity Framework</h3></div>
        <div class="col bg-secondary p-5"><h3>Identity</h3></div>
    </div>
    <div class="row">
        <div class="col-lg-6 bg-secondary p-5"><h3>Bootstrap 5</h3></div>
        <div class="col-lg-6 bg-primary p-5"><h3>SCSS</h3></div>
  
    </div>
</div>
