@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We have absolutely no interest in selling your personal information. Your privacy is important to us. However, due to the nature of resumes, the information you privide in the resume section, if you so choose, will be available to whomever has your resume link. All data you privide us can be easily deleted.</p>
<p>Though we do not sell your information, we may in the future decide to use third party advertising such as google adsense  or amazon that may collect their own data.</p>
