.aboutImage {
 
    max-width: 300px;
    height: auto;

}



/*Slider*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.cardHeight {
    max-height: 200px;
}
/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 38px; /* Specified height */
    background: #FFFFFF; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 38px; /* Slider handle height */
        background: #000000; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 38px; /* Slider handle height */
        background: #000000; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
.rDescription {
    height: 350px !important;
}


.namePartialTwo {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.userDisplayNameRow {
    
}

.userDisplayNameCol {

  
}

.carousel-item {
    max-height: 500px;

}

.cimage {
    object-fit: cover;
    max-height: 450px;
}

#carouselExampleCaptions {
}

.body-bg {
    background: url('../images/chess.jpg');
    background-size: cover;
}

/*Particles*/


canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.alternate {
    
}

