@model Resume.Models.Conspectus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Conspectus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UId" class="control-label"></label>
                <input asp-for="UId" class="form-control" />
                <span asp-validation-for="UId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeName" class="control-label"></label>
                <input asp-for="ResumeName" class="form-control" />
                <span asp-validation-for="ResumeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDisplayName" class="control-label"></label>
                <input asp-for="UserDisplayName" class="form-control" />
                <span asp-validation-for="UserDisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummaryName" class="control-label"></label>
                <input asp-for="SummaryName" class="form-control" />
                <span asp-validation-for="SummaryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceName" class="control-label"></label>
                <input asp-for="ExperienceName" class="form-control" />
                <span asp-validation-for="ExperienceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationName" class="control-label"></label>
                <input asp-for="EducationName" class="form-control" />
                <span asp-validation-for="EducationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillsName" class="control-label"></label>
                <input asp-for="SkillsName" class="form-control" />
                <span asp-validation-for="SkillsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactName" class="control-label"></label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
